body {
    width: 900px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#content {
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
    
}
h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
table {
    width: 700px;
    margin: auto;
}
td {
    width: 50px;
    text-align: left;
    font-size: 20px;
}